.about {
	@include linkJump(60px);
    margin-top: 40px;
    .description, .skills {
        h3 {
            text-align: center;
            padding-bottom: 10px;
        }
        p {
            padding: 10px 20px;
        }
        ul {
            padding-top: 15px;
            li {
                margin-bottom: 20px;
            }
        }
    }
	@import '_skills.scss'
}

@media (min-width: 768px) {
    .about {
		@include linkJump(80px);
        display: flex;
    }
    .description {
        max-width: 50%;
    }
    .skills {
        width: 50%;
    }

}
