.about {
    margin-top: 40px;
    .description, .skills {
        h3 {
            text-align: center;
        }
        p {
            padding: 10px 20px;

        }
        ul {
            padding-top: 15px;
            li {
                margin-bottom: 20px;
            }
        }
    }
	@import '_skills.scss'
}
