
.nav {
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1200px;
    background: white;
	>hr {
        margin: 0;
        position: relative;
        bottom: 0;
    }
    .nav-header {
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        button {
            width: 30px;
            height: 30px;
            background: url("../img/menu.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            margin-right: 40px;
            align-self: center;
            border-style: none;
        }
        button:focus {
            outline: 0;
        }
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
		hr {
			width: 70%;
		}
        a {
            color: $primary_color;
            text-decoration: none;
            &:visited {
                text-decoration: none;
                color: $primary_color
            }
            li{
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 568px) {
	.nav {
		font-size: 0.9em;
		.nav-header {
			height: 45px;
            justify-content: space-between;
            h3 {
                margin: auto;
            }
			button {
				margin-top: 0;
                margin-right: 20px;
                align-self: center;
			}
		}
		.nav-list {
            flex-direction: row;
            padding: 0;
            padding-left:30px;
            margin: 0;
            justify-content: center;
            li {
                margin-right: 30px;
            }
            >hr {
                display: none;
            }
		}
	}
}

@media (min-width: 768px) {
	.nav {
		.nav-header {
            padding: 0;
			margin-bottom: 10px;
			.toggle-nav {
				display: none;
			}
		}
		.nav-list {
			margin-bottom: 10px;
            .nav-skills{
                display: none;
            }
		}
	}
}

@media (min-width: 1200px) {
    .nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        .nav-header {
            margin-right: auto;
        }
        .nav-list {
            padding-top: 10px;
        }
    }
}
