.projects {
    h3 {
        text-align: center;
    }
    .project {
        padding-top: 30px;
        padding-bottom: 30px;
        p {
            padding-left: 10px;
        }
        img {
            max-width: 100%;
        }
    }
}
