$primary_color: #00b3b3;
$complement: lighten(complement($primary_color), 30%);

@mixin icon($url) {
	background-image: url($url);
	background-position: 20% 50%;
	@media (min-width: 480px) {
		background-position: 32% 50%;
	};
	@media (min-width: 720px) {
		background-position: 36% 50%;
	};
	@media (min-width: 768px) {
		background-position: 22% 50%;
	};
	@media (min-width: 960px) {
		background-position: 32% 50%;
	};

	background-size: contain;
	background-repeat: no-repeat;
}
