@import '_normalize.scss';
@import '_variables.scss';
body {
    max-width: 1200px;
    margin: auto;
}
.wrapper {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
	.primary {
		color: $primary_color;
	}
	.complement {
		color: $complement;
	}
    a.anchor {
        display: block;
        position: relative;
        bottom: 80px;
        visibility: hidden;
    }
	hr.orange {
       height: 5px;
       width: 70%;
	   border: 1px solid lighten($complement, 30%);
	   border-radius: 50%;
       background: lighten($complement, 30%);
    }
    @import '_collapse-nav.scss';
    @import '_logo.scss';
    @import '_about.scss';
    @import '_projects.scss';
	@import '_contact.scss';
	// @media (min-width: 768px) {
	// 	font-size: 0.9em;
	// }
}
